/* Add styles here */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Variables */
:root{
    --BackgroundThemeLight: #B8FB3C;
    --TextColorThemeLight: #03045E;
    --BackgroundThemeDark: #03045E;
    --TextColorThemeDark: #B8FB3C;
}

body {    
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* background-image: url(../assets/fondo/BANNER_SLIDESHOW_CITI.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

/* .clear-fix{
    clear: both;
} */

@media
