@font-face {
  font-family: ZAYTEK;
  src: url(../assets/Fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Bold.ttf);
}

/* Add styles here */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Variables */
body.light-theme {  
    --BackgroundTheme: #B8FB3C;
    --TextColorTheme: #03045E;

}

body.dark-theme {
    --BackgroundTheme: #03045E;
    --TextColorTheme: #B8FB3C;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    /* Scroll vertical normal */
    overscroll-behavior: none;
    /* Evita el rebote al final */

    padding-left: 20px;
    padding-right: 20px;
}

body {
    height: 100vh;
    /* font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;     */

}

/* .clear-fix{
    clear: both;
} */

@media (prefers-color-scheme: dark) {
    body:not(.light-theme) {
        --BackgroundTheme: #03045E;
        --TextColorTheme: #B8FB3C;
    }
}

/* From Uiverse.io by kandalgaonkarshubham // Patrones del fondo */  
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(
          circle farthest-side at 0% 50%,
          #282828 23.5%,
          rgba(255, 170, 0, 0) 0
        )
        21px 30px,
      radial-gradient(
          circle farthest-side at 0% 50%,
          #2c3539 24%,
          rgba(240, 166, 17, 0) 0
        )
        19px 30px,
      linear-gradient(
          #282828 14%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 85%,
          #282828 0
        )
        0 0,
      linear-gradient(
          150deg,
          #282828 24%,
          #2c3539 0,
          #2c3539 26%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 74%,
          #2c3539 0,
          #2c3539 76%,
          #282828 0
        )
        0 0,
      linear-gradient(
          30deg,
          #282828 24%,
          #2c3539 0,
          #2c3539 26%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 74%,
          #2c3539 0,
          #2c3539 76%,
          #282828 0
        )
        0 0,
      linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
        #282828;
    background-size: 40px 60px;
  }
  