nav{    
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    border-radius: 24px;
    width: 95%;
    padding: 1rem;
    background-color: var(--BackgroundTheme);
}
#nav_body{
    display: flex;
    align-items: center;    
}
nav li{
    display: flex;    
}
nav .nav_options{
    display: none;    
}
nav ul li a{    
    padding-inline: 10px;
    text-decoration: none;
    color: var(--TextColorTheme);
}