nav{
    
    font-size: 20px;
    border-radius: 24px;
    width: 95%;
    height: auto;
    margin: auto;    
}
#nav_body{
    display: flex;
    align-items: center;
}
nav li{
    display: flex;    
}
nav .nav_options{
    display: none;    
}
nav ul li a{    
    padding-inline: 10px;
    text-decoration: none;
    color: #03045E;
}