
.theme-switcher {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.theme-button {
    background-color: var(--TextColorTheme);
    color: var(--BackgroundTheme);
    border: 1px solid var(--TextColorTheme);
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
